/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'reset';

$primary-background: pink;
$primary-fonts: 'Roboto', sans-serif;
$regular-fonts: 'Manjari', sans-serif;
$tab-colour: #989c8ef0;
$inactive-tab-colour: #c9ad86ed;
$tab-font-colour: #fff;
$button-hover-color: #8AA4BF;
$button-shadow: #888888;

body {
  font-family: $primary-fonts;
  background-image: url('https://pbs.twimg.com/media/DHR906ZXkAAqs_f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  margin-top: 5em;
}

h1 {
  font-size: 6em;
  padding: 20px;
  text-align: center;
  color: $tab-font-colour;
  width: 77%;
  background: $tab-colour;
  display: block;
  margin: auto;
  margin-top: 1em;
  border-radius: 4px;
}

.tab-container {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    background: $inactive-tab-colour;
    margin: 0;
    padding: 11px 40px;
    border-radius: 10px 10px 0 0;
    color: $tab-font-colour;
    font-weight: 200;
    cursor: pointer;
    font-size: 30px;
    &:hover {
      color: $tab-font-colour;
      background: $tab-colour;
    }
  }
}

.tab-container ul li.active {
  color: $tab-font-colour;
  background: $tab-colour;
}

.tab-container .panel {
  display: none;
  background: $tab-colour;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}

.tab-container .panel.active {
  display: block;
}

#panel1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    text-align: center;
    font-size: 27px;
    margin: 20px;
  }
  div {
    text-align: center;
    font-size: 30px;
    padding: 30px;
  }
  .hotel-main-tab {
    display: flex;
    justify-content: space-around;
  }
  button {
    margin: auto;
    display: block;
    font-size: 2em;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: $inactive-tab-colour;
    &:hover {
      color: $tab-font-colour;
      background: $button-hover-color;
      box-shadow: 5px 10px $button-shadow;
    }
  }
}

.guest {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

